In [1]:
import  xarray as xr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime,timedelta
import warnings

# Air Temperature

In [2]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Air temperature/'

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        df = data_bangladesh_resized.air.to_dataframe()
        df=df.reset_index()
        df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Air temperature/csv files/{filename[:-3]}.csv')

  0%|          | 0/44 [00:00<?, ?it/s]

In [3]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Air temperature/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
t2m_df = pd.concat(dfs, ignore_index=True)
t2m_df=t2m_df.drop('Unnamed: 0', axis=1)

t2m_df

             time   lat   lon        air
0      1996-01-01  25.0  90.0  287.91016
1      1996-01-01  25.0  92.5  286.24176
2      1996-01-01  22.5  90.0  294.35107
3      1996-01-01  22.5  92.5  289.19794
4      1996-01-02  25.0  90.0  288.65900
...           ...   ...   ...        ...
61355  2022-12-30  22.5  92.5  285.86066
61356  2022-12-31  25.0  90.0  285.81174
61357  2022-12-31  25.0  92.5  285.01230
61358  2022-12-31  22.5  90.0  292.70038
61359  2022-12-31  22.5  92.5  285.88900

[61360 rows x 4 columns]

# Maximum Temperature

In [4]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Maximum Temperature/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        df = data_bangladesh_resized.tmax.to_dataframe()# change
        df=df.reset_index()
        # change
        df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Maximum Temperature/csv files/{filename[:-3]}.csv')

  0%|          | 0/44 [00:00<?, ?it/s]

In [5]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Maximum Temperature/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
tmax_df = pd.concat(dfs, ignore_index=True) # change
tmax_df=tmax_df.drop('Unnamed: 0', axis=1)

tmax_df   # change

             time   lat   lon       tmax
0      1996-01-01  25.0  90.0  297.60540
1      1996-01-01  25.0  92.5  297.01794
2      1996-01-01  22.5  90.0  298.71228
3      1996-01-01  22.5  92.5  300.69077
4      1996-01-02  25.0  90.0  298.77374
...           ...   ...   ...        ...
61355  2022-12-30  22.5  92.5  297.28740
61356  2022-12-31  25.0  90.0  295.73610
61357  2022-12-31  25.0  92.5  295.29507
61358  2022-12-31  22.5  90.0  298.03186
61359  2022-12-31  22.5  92.5  297.45840

[61360 rows x 4 columns]

# Minimum Temperature

In [6]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Minimum Temperature/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        df = data_bangladesh_resized.tmin.to_dataframe()# change
        df=df.reset_index()
        # change
        df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Minimum Temperature/csv files/{filename[:-3]}.csv')

  0%|          | 0/44 [00:00<?, ?it/s]

In [7]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Minimum Temperature/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
tmin_df = pd.concat(dfs, ignore_index=True) # change
tmin_df=tmin_df.drop('Unnamed: 0', axis=1)

tmin_df   # change

             time   lat   lon       tmin
0      1996-01-01  25.0  90.0  281.89252
1      1996-01-01  25.0  92.5  279.16528
2      1996-01-01  22.5  90.0  289.81770
3      1996-01-01  22.5  92.5  280.41330
4      1996-01-02  25.0  90.0  281.91138
...           ...   ...   ...        ...
61355  2022-12-30  22.5  92.5  275.80807
61356  2022-12-31  25.0  90.0  276.47375
61357  2022-12-31  25.0  92.5  275.02954
61358  2022-12-31  22.5  90.0  288.64160
61359  2022-12-31  22.5  92.5  275.03717

[61360 rows x 4 columns]

# Surface Pressure

In [8]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Surface Pressure-NCAR/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        df = data_bangladesh_resized.pres.to_dataframe()# change
        df=df.reset_index()
        # change
        df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Surface Pressure-NCAR/csv files/{filename[:-3]}.csv')

  0%|          | 0/43 [00:00<?, ?it/s]

In [9]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Surface Pressure-NCAR/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
surface_pressure_df = pd.concat(dfs, ignore_index=True) # change
surface_pressure_df=surface_pressure_df.drop('Unnamed: 0', axis=1)

surface_pressure_df   # change

             time   lat   lon      pres
0      1997-01-01  25.0  90.0  100850.0
1      1997-01-01  25.0  92.5   97000.0
2      1997-01-01  22.5  90.0  102150.0
3      1997-01-01  22.5  92.5   96190.0
4      1997-01-02  25.0  90.0  100660.0
...           ...   ...   ...       ...
61355  2022-12-30  22.5  92.5   96225.0
61356  2022-12-31  25.0  90.0  100815.0
61357  2022-12-31  25.0  92.5   96885.0
61358  2022-12-31  22.5  90.0  102212.5
61359  2022-12-31  22.5  92.5   96197.5

[61360 rows x 4 columns]

# Sea Level Pressure

In [10]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Sea level pressure/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        df = data_bangladesh_resized.slp.to_dataframe()# change
        df=df.reset_index()
        # change
        df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Sea level pressure/csv files/{filename[:-3]}.csv')

  0%|          | 0/44 [00:00<?, ?it/s]

In [11]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Sea level pressure/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
slp_df = pd.concat(dfs, ignore_index=True) # change
slp_df=slp_df.drop('Unnamed: 0', axis=1)

slp_df   # change

             time   lat   lon       slp
0      1998-01-01  25.0  90.0  101970.0
1      1998-01-01  25.0  92.5  101975.0
2      1998-01-01  22.5  90.0  101732.0
3      1998-01-01  22.5  92.5  101692.0
4      1998-01-02  25.0  90.0  101925.0
...           ...   ...   ...       ...
61355  2022-12-30  22.5  92.5  101720.0
61356  2022-12-31  25.0  90.0  101907.5
61357  2022-12-31  25.0  92.5  101807.5
61358  2022-12-31  22.5  90.0  101722.5
61359  2022-12-31  22.5  92.5  101697.5

[61360 rows x 4 columns]

# Precipitation

In [12]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Precipitation/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        df = data_bangladesh_resized.prate.to_dataframe()# change
        df=df.reset_index()
        # change
        df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Precipitation/csv files/{filename[:-3]}.csv')

  0%|          | 0/43 [00:00<?, ?it/s]

In [13]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Precipitation/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
prate_df = pd.concat(dfs, ignore_index=True) # change
prate_df=prate_df.drop('Unnamed: 0', axis=1)

prate_df   # change

             time   lat   lon         prate
0      1995-01-01  25.0  90.0  2.425549e-06
1      1995-01-01  25.0  92.5  3.999374e-07
2      1995-01-01  22.5  90.0  1.624216e-07
3      1995-01-01  22.5  92.5  1.415758e-07
4      1995-01-02  25.0  90.0  2.100509e-06
...           ...   ...   ...           ...
61355  2022-12-30  22.5  92.5  0.000000e+00
61356  2022-12-31  25.0  90.0  1.094083e-06
61357  2022-12-31  25.0  92.5  2.083968e-07
61358  2022-12-31  22.5  90.0  0.000000e+00
61359  2022-12-31  22.5  92.5  0.000000e+00

[61360 rows x 4 columns]

In [14]:
import pandas as pd

precp_df=prate_df

precp_df['daily_precp'] = precp_df['prate'] * 86400


precp_df

             time   lat   lon         prate  daily_precp
0      1995-01-01  25.0  90.0  2.425549e-06     0.209567
1      1995-01-01  25.0  92.5  3.999374e-07     0.034555
2      1995-01-01  22.5  90.0  1.624216e-07     0.014033
3      1995-01-01  22.5  92.5  1.415758e-07     0.012232
4      1995-01-02  25.0  90.0  2.100509e-06     0.181484
...           ...   ...   ...           ...          ...
61355  2022-12-30  22.5  92.5  0.000000e+00     0.000000
61356  2022-12-31  25.0  90.0  1.094083e-06     0.094529
61357  2022-12-31  25.0  92.5  2.083968e-07     0.018005
61358  2022-12-31  22.5  90.0  0.000000e+00     0.000000
61359  2022-12-31  22.5  92.5  0.000000e+00     0.000000

[61360 rows x 5 columns]

# 10 m U

In [15]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/10m u/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        df = data_bangladesh_resized.uwnd.to_dataframe()# change
        df=df.reset_index()
        # change
        df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/10m u/csv files/{filename[:-3]}.csv')

  0%|          | 0/44 [00:00<?, ?it/s]

In [16]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/10m u/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
uwind_df = pd.concat(dfs, ignore_index=True) # change
uwind_df=uwind_df.drop('Unnamed: 0', axis=1)

uwind_df   # change

             time   lat   lon      uwnd
0      1996-01-01  25.0  90.0 -0.582426
1      1996-01-01  25.0  92.5 -0.268723
2      1996-01-01  22.5  90.0 -0.991821
3      1996-01-01  22.5  92.5 -0.091114
4      1996-01-02  25.0  90.0 -1.251181
...           ...   ...   ...       ...
61355  2022-12-30  22.5  92.5  0.724410
61356  2022-12-31  25.0  90.0  0.112595
61357  2022-12-31  25.0  92.5  0.021775
61358  2022-12-31  22.5  90.0 -0.440561
61359  2022-12-31  22.5  92.5  0.619199

[61360 rows x 4 columns]

# 10 m V

In [17]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/10m v/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        df = data_bangladesh_resized.vwnd.to_dataframe()# change
        df=df.reset_index()
        # change
        df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/10m v/csv files/{filename[:-3]}.csv')

  0%|          | 0/44 [00:00<?, ?it/s]

In [18]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/10m v/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
vwind_df = pd.concat(dfs, ignore_index=True) # change
vwind_df=vwind_df.drop('Unnamed: 0', axis=1)

vwind_df   # change

             time   lat   lon      vwnd
0      1996-01-01  25.0  90.0 -1.388664
1      1996-01-01  25.0  92.5 -1.082961
2      1996-01-01  22.5  90.0 -2.103011
3      1996-01-01  22.5  92.5 -0.706727
4      1996-01-02  25.0  90.0 -1.815052
...           ...   ...   ...       ...
61355  2022-12-30  22.5  92.5 -0.445329
61356  2022-12-31  25.0  90.0  0.450114
61357  2022-12-31  25.0  92.5 -0.524987
61358  2022-12-31  22.5  90.0  0.349927
61359  2022-12-31  22.5  92.5 -0.412021

[61360 rows x 4 columns]

# Geopotential Height

In [19]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Geopotential Height/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        dfs=[]
        for level in [1000, 850, 500]:
            #change
            data_level = data_bangladesh_resized.sel(level=level).hgt.to_dataframe()
            data_level = data_level.drop('level', axis=1)
            #change
            data_level = data_level.rename(columns={'hgt': f'geo_hgt_{level}hpa'})
            data_level = data_level.reset_index()
            dfs.append(data_level)

        merged_df = dfs[0]
        for df in dfs[1:]:
            merged_df = pd.merge(merged_df, df)
        # change
        merged_df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Geopotential Height/csv files/{filename[:-3]}.csv')

  0%|          | 0/44 [00:00<?, ?it/s]

In [20]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Geopotential Height/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
geo_hgt_df = pd.concat(dfs, ignore_index=True) # change
geo_hgt_df=geo_hgt_df.drop('Unnamed: 0', axis=1)

geo_hgt_df   # change

             time   lat   lon  geo_hgt_1000hpa  geo_hgt_850hpa  geo_hgt_500hpa
0      1998-01-01  25.0  90.0           160.75         1532.25         5789.00
1      1998-01-01  25.0  92.5           167.50         1532.50         5791.25
2      1998-01-01  22.5  90.0           156.25         1536.75         5827.75
3      1998-01-01  22.5  92.5           157.00         1533.00         5830.50
4      1998-01-02  25.0  90.0           151.75         1518.50         5779.25
...           ...   ...   ...              ...             ...             ...
61355  2022-12-30  22.5  92.5           157.00         1532.25         5839.25
61356  2022-12-31  25.0  90.0           161.75         1530.25         5766.25
61357  2022-12-31  25.0  92.5           164.00         1531.00         5759.50
61358  2022-12-31  22.5  90.0           154.75         1531.00         5815.75
61359  2022-12-31  22.5  92.5           155.25         1530.25         5808.00

[61360 rows x 6 columns]

# Relative Humidity

In [21]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Relative Humidity/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        dfs=[]
        for level in [1000, 850, 500]:
            #change
            data_level = data_bangladesh_resized.sel(level=level).rhum.to_dataframe()
            data_level = data_level.drop('level', axis=1)
            #change
            data_level = data_level.rename(columns={'rhum': f'rhum_{level}hpa'})
            data_level = data_level.reset_index()
            dfs.append(data_level)

        merged_df = dfs[0]
        for df in dfs[1:]:
            merged_df = pd.merge(merged_df, df)
        # change
        merged_df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Relative Humidity/csv files/{filename[:-3]}.csv')

  0%|          | 0/45 [00:00<?, ?it/s]

In [22]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Relative Humidity/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
rhum_df = pd.concat(dfs, ignore_index=True) # change
rhum_df=rhum_df.drop('Unnamed: 0', axis=1)

rhum_df   # change

             time   lat   lon  rhum_1000hpa  rhum_850hpa  rhum_500hpa
0      1998-01-01  25.0  90.0     64.000015    42.000004         6.50
1      1998-01-01  25.0  92.5     67.750015    67.500015         4.25
2      1998-01-01  22.5  90.0     49.250008    27.000000         5.75
3      1998-01-01  22.5  92.5     62.000008    45.750008         8.75
4      1998-01-02  25.0  90.0     64.250015    36.000000        18.25
...           ...   ...   ...           ...          ...          ...
61355  2022-12-30  22.5  92.5     43.750000    28.000000        11.75
61356  2022-12-31  25.0  90.0     62.500000    56.500000         7.00
61357  2022-12-31  25.0  92.5     60.750000    63.000000         7.25
61358  2022-12-31  22.5  90.0     45.500000    36.250000         4.50
61359  2022-12-31  22.5  92.5     40.750000    32.000000         5.50

[61360 rows x 6 columns]

# Air temperature Multiple levels

In [23]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Air temperature multiple levels/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        dfs=[]
        for level in [1000, 850, 500]:
            #change
            data_level = data_bangladesh_resized.sel(level=level).air.to_dataframe()
            data_level = data_level.drop('level', axis=1)
            #change
            data_level = data_level.rename(columns={'air': f'air_temp_{level}hpa'})
            data_level = data_level.reset_index()
            dfs.append(data_level)

        merged_df = dfs[0]
        for df in dfs[1:]:
            merged_df = pd.merge(merged_df, df)
        # change
        merged_df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Air temperature multiple levels/csv files/{filename[:-3]}.csv')

  0%|          | 0/44 [00:00<?, ?it/s]

In [24]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Air temperature multiple levels/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
air_temp_df = pd.concat(dfs, ignore_index=True) # change
air_temp_df=air_temp_df.drop('Unnamed: 0', axis=1)

air_temp_df   # change

,time,lat,lon,air_temp_1000hpa,air_temp_850hpa,air_temp_500hpa
0,1998-01-01,25.0,90.0,291.87500,283.02500,264.20000
1,1998-01-01,25.0,92.5,289.45000,282.02502,264.35000
2,1998-01-01,22.5,90.0,293.37500,284.20000,266.02502
3,1998-01-01,22.5,92.5,291.17502,283.80000,265.97500
4,1998-01-02,25.0,90.0,290.67500,282.57500,262.42502
...,...,...,...,...,...,...
61355,2022-12-30,22.5,92.5,291.50000,283.75000,267.52496
61356,2022-12-31,25.0,90.0,291.34998,282.12497,263.47498
61357,2022-12-31,25.0,92.5,290.37500,282.27496,263.12500
61358,2022-12-31,22.5,90.0,292.59998,284.32498,266.82498
61359,2022-12-31,22.5,92.5,291.50000,284.39996,266.65000

# Specific Humidity

In [25]:
import os
from tqdm.auto import tqdm

# # Define the directory path
directory_path = '/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Specific Humidity Multiple levels/'# change

# Loop through all files in the directory
for filename in tqdm(os.listdir(directory_path)):
    if filename.endswith('.nc'):  # Assuming you want to process only netcdf files
        file_path = os.path.join(directory_path, filename)
        # Process the file here
        ds = xr.open_dataset(file_path)
        new_lat = np.arange(90, -91, -02.5).astype(np.float32)
        new_lon = np.arange(0, 360, 02.5).astype(np.float32)
        new_ds = ds.interp(lat=new_lat, lon=new_lon)
        lat_range = slice(26.7,20.7) 
        lon_range = slice(88,92.7)
        data_bangladesh_resized = new_ds.sel(lat=lat_range,lon=lon_range)
        dfs=[]
        for level in [1000, 850, 500]:
            #change
            data_level = data_bangladesh_resized.sel(level=level).shum.to_dataframe()
            data_level = data_level.drop('level', axis=1)
            #change
            data_level = data_level.rename(columns={'shum': f'shum_{level}hpa'})
            data_level = data_level.reset_index()
            dfs.append(data_level)

        merged_df = dfs[0]
        for df in dfs[1:]:
            merged_df = pd.merge(merged_df, df)
        # change
        merged_df.to_csv(f'/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Specific Humidity Multiple levels/csv files/{filename[:-3]}.csv')

  0%|          | 0/43 [00:00<?, ?it/s]

In [26]:
import pandas as pd
from glob import glob

# Get a list of all CSV files in the directory
# change
csv_files = glob('/mnt/1A42C1DD42C1BE2F/MyProjects/ML_HEATWAVE/Specific Humidity Multiple levels/csv files/*.csv')

# Initialize an empty list to hold the DataFrames
dfs = []

# Loop through the list of files
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate all DataFrames into one
shum_df = pd.concat(dfs, ignore_index=True) # change
shum_df=shum_df.drop('Unnamed: 0', axis=1)
shum_df   # change

             time   lat   lon  shum_1000hpa  shum_850hpa  shum_500hpa
0      1998-01-01  25.0  90.0      0.008453     0.003735     0.000253
1      1998-01-01  25.0  92.5      0.007543     0.005595     0.000165
2      1998-01-01  22.5  90.0      0.007225     0.002543     0.000256
3      1998-01-01  22.5  92.5      0.007605     0.004298     0.000387
4      1998-01-02  25.0  90.0      0.007870     0.003125     0.000617
...           ...   ...   ...           ...          ...          ...
61355  2022-12-30  22.5  92.5      0.005520     0.002625     0.000588
61356  2022-12-31  25.0  90.0      0.008135     0.004732     0.000258
61357  2022-12-31  25.0  92.5      0.007278     0.005328     0.000258
61358  2022-12-31  22.5  90.0      0.006417     0.003502     0.000217
61359  2022-12-31  22.5  92.5      0.005177     0.003140     0.000262

[61360 rows x 6 columns]

In [27]:
dfs=[t2m_df,tmax_df,tmin_df,surface_pressure_df,slp_df,precp_df,uwind_df, vwind_df,geo_hgt_df,rhum_df,air_temp_df,shum_df]
# Initialize the merged_df with the first DataFrame in the list
merged_df = dfs[0]

# Loop through the remaining DataFrames and merge them one by one
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df)

# Now merged_df contains the merged result
merged_df

,time,lat,lon,air,tmax,tmin,pres,slp,prate,daily_precp,...,geo_hgt_500hpa,rhum_1000hpa,rhum_850hpa,rhum_500hpa,air_temp_1000hpa,air_temp_850hpa,air_temp_500hpa,shum_1000hpa,shum_850hpa,shum_500hpa
0,1996-01-01,25.0,90.0,287.91016,297.60540,281.89252,101010.0,102103.0,7.250792e-07,0.062647,...,5749.50,66.250015,52.250015,37.750008,292.52500,283.97500,258.40002,0.009090,0.004960,0.000929
1,1996-01-01,25.0,92.5,286.24176,297.01794,279.16528,97090.0,102028.0,2.666031e-07,0.023035,...,5751.25,66.250010,55.500015,41.500004,291.70000,284.37500,258.47498,0.008285,0.005410,0.001015
2,1996-01-01,22.5,90.0,294.35107,298.71228,289.81770,102240.0,101773.0,9.988435e-08,0.008630,...,5788.25,46.500008,45.250004,17.750000,294.07500,284.15000,262.77502,0.007188,0.004350,0.000602
3,1996-01-01,22.5,92.5,289.19794,300.69077,280.41330,96250.0,101750.0,9.988435e-08,0.008630,...,5790.00,51.000008,44.250004,21.000000,293.25000,284.75000,262.87500,0.007033,0.004433,0.000724
4,1996-01-02,25.0,90.0,288.65900,298.77374,281.91138,101020.0,102110.0,2.249234e-07,0.019433,...,5766.00,58.250010,49.000015,9.000000,292.32500,283.95000,259.95000,0.007785,0.004650,0.000240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61355,2022-12-30,22.5,92.5,285.86066,297.28740,275.80807,96225.0,101720.0,0.000000e+00,0.000000,...,5839.25,43.750000,28.000000,11.750000,291.50000,283.75000,267.52496,0.005520,0.002625,0.000588
61356,2022-12-31,25.0,90.0,285.81174,295.73610,276.47375,100815.0,101907.5,1.094083e-06,0.094529,...,5766.25,62.500000,56.500000,7.000000,291.34998,282.12497,263.47498,0.008135,0.004732,0.000258
61357,2022-12-31,25.0,92.5,285.01230,295.29507,275.02954,96885.0,101807.5,2.083968e-07,0.018005,...,5759.50,60.750000,63.000000,7.250000,290.37500,282.27496,263.12500,0.007278,0.005328,0.000258
61358,2022-12-31,22.5,90.0,292.70038,298.03186,288.64160,102212.5,101722.5,0.000000e+00,0.000000,...,5815.75,45.500000,36.250000,4.500000,292.59998,284.32498,266.82498,0.006417,0.003502,0.000217
61359,2022-12-31,22.5,92.5,285.88900,297.45840,275.03717,96197.5,101697.5,0.000000e+00,0.000000,...,5808.00,40.750000,32.000000,5.500000,291.50000,284.39996,266.65000,0.005177,0.003140,0.000262

In [29]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61360 entries, 0 to 61359
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              61360 non-null  object
 1   lat               61360 non-null  float64
 2   lon               61360 non-null  float64
 3   air               61360 non-null  float64
 4   tmax              61360 non-null  float64
 5   tmin              61360 non-null  float64
 6   pres              61360 non-null  float64
 7   slp               61360 non-null  float64
 8   prate             61360 non-null  float64
 9   daily_precp       61360 non-null  float64
 10  uwnd              61360 non-null  float64
 11  vwnd              61360 non-null  float64
 12  geo_hgt_1000hpa   61360 non-null  float64
 13  geo_hgt_850hpa    61360 non-null  float64
 14  geo_hgt_500hpa    61360 non-null  float64
 15  rhum_1000hpa      61360 non-null  float64
 16  rhum_850hpa       61360 non-null  float64
 17  rhum_500hpa       61360 non-null  float64
 18  air_temp_1000hpa  61360 non-null  float64
 19  air_temp_850hpa   61360 non-null  float64
 20  air_temp_500hpa   61360 non-null  float64
 21  shum_1000hpa      61360 non-null  float64
 22  shum_850hpa       61360 non-null  float64
 23  shum_500hpa       61360 non-null  float64
dtypes: float64(23), object(1)
memory usage: 11.7+ MB

In [30]:
merged_df.set_index('time',inplace=True)

In [31]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61360 entries, 1996-01-01 to 2022-12-31
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   lat               61360 non-null  float64
 1   lon               61360 non-null  float64
 2   air               61360 non-null  float64
 3   tmax              61360 non-null  float64
 4   tmin              61360 non-null  float64
 5   pres              61360 non-null  float64
 6   slp               61360 non-null  float64
 7   prate             61360 non-null  float64
 8   daily_precp       61360 non-null  float64
 9   uwnd              61360 non-null  float64
 10  vwnd              61360 non-null  float64
 11  geo_hgt_1000hpa   61360 non-null  float64
 12  geo_hgt_850hpa    61360 non-null  float64
 13  geo_hgt_500hpa    61360 non-null  float64
 14  rhum_1000hpa      61360 non-null  float64
 15  rhum_850hpa       61360 non-null  float64
 16  rhum_500hpa       61360 non-null  float64
 17  air_temp_1000hpa  61360 non-null  float64
 18  air_temp_850hpa   61360 non-null  float64
 19  air_temp_500hpa   61360 non-null  float64
 20  shum_1000hpa      61360 non-null  float64
 21  shum_850hpa       61360 non-null  float64
 22  shum_500hpa       61360 non-null  float64
dtypes: float64(23)
memory usage: 11.2+ MB

In [32]:
merged_df['tmax'].describe(percentiles=[.5,.75,.90,.95])

count    61360.000000
mean       301.154367
std          3.810131
min        274.416500
50%        300.630160
75%        302.781700
90%        306.481320
95%        308.236734
max        323.688230
Name: tmax, dtype: float64

In [34]:
merged_df['tmin'].describe(percentiles=[.5,.75,.90,.95])

count    61360.000000
mean       290.876644
std          6.732665
min        266.896030
50%        292.849315
75%        295.839420
90%        298.961550
95%        299.799700
max        302.774630
Name: tmin, dtype: float64

In [33]:
merged_df.loc['2021-05-15':'2021-05-24']

,lat,lon,air,tmax,tmin,pres,slp,prate,daily_precp,uwnd,...,geo_hgt_500hpa,rhum_1000hpa,rhum_850hpa,rhum_500hpa,air_temp_1000hpa,air_temp_850hpa,air_temp_500hpa,shum_1000hpa,shum_850hpa,shum_500hpa
time,,,,,,,,,,,,,,,,,,,,,
2021-05-15,25.0,90.0,298.17624,302.07280,292.88605,99637.5,100690.0,6.908354e-05,5.968818,0.087481,...,5836.00,72.75,62.00,9.25,300.84998,292.37497,268.42500,0.016990,0.010042,0.000489
2021-05-15,25.0,92.5,295.06686,299.62427,290.39923,95937.5,100735.0,7.214720e-05,6.233518,0.401998,...,5832.75,92.50,71.00,12.75,298.95000,291.02500,268.74997,0.019283,0.010630,0.000695
2021-05-15,22.5,90.0,303.37057,306.31326,299.00592,101032.5,100590.0,0.000000e+00,0.000000,1.387169,...,5861.25,68.00,54.50,0.00,302.42500,293.87500,270.17500,0.017125,0.009787,0.000000
2021-05-15,22.5,92.5,298.81690,303.80994,293.17493,95342.5,100707.5,2.505306e-05,2.164584,1.382105,...,5860.50,78.25,68.50,6.00,301.07498,292.52500,270.44995,0.018218,0.011350,0.000359
2021-05-16,25.0,90.0,300.02330,306.03564,294.12305,99670.0,100717.5,5.626714e-06,0.486148,0.318702,...,5868.50,64.75,64.75,9.50,301.37500,292.42500,270.22500,0.015652,0.010622,0.000575
2021-05-16,25.0,92.5,295.88474,299.45330,291.45730,95977.5,100760.0,4.307547e-05,3.721720,0.379008,...,5863.75,89.25,75.75,18.50,299.40000,290.84998,270.62500,0.019330,0.011222,0.001165
2021-05-16,22.5,90.0,303.79425,307.42624,300.36252,101120.0,100675.0,0.000000e+00,0.000000,1.883998,...,5886.00,64.00,50.00,6.00,302.70000,293.92500,271.02500,0.016348,0.009028,0.000390
2021-05-16,22.5,92.5,299.61835,305.10757,293.91693,95397.5,100752.5,2.154912e-05,1.861844,1.764873,...,5884.00,72.75,62.00,9.50,301.69998,292.80000,271.45000,0.017505,0.010410,0.000648
2021-05-17,25.0,90.0,301.12653,308.14840,294.41060,99612.5,100660.0,0.000000e+00,0.000000,0.540554,...,5878.25,56.50,59.50,23.00,302.02500,292.72498,270.75000,0.013930,0.009983,0.001472
2021-05-17,25.0,92.5,297.65652,303.01553,291.86590,95950.0,100720.0,3.928179e-06,0.339395,0.601909,...,5876.50,76.00,73.00,17.00,300.80000,291.84998,271.62500,0.017657,0.011633,0.001156
2021-05-17,22.5,90.0,304.25995,307.90146,299.84396,101065.0,100620.0,0.000000e+00,0.000000,2.029352,...,5894.00,64.25,47.00,15.75,302.97498,294.37500,270.95000,0.016440,0.008730,0.001035
2021-05-17,22.5,92.5,300.72590,307.04160,294.18340,95372.5,100722.5,2.187806e-07,0.018903,1.925320,...,5892.50,69.00,56.25,11.00,302.47498,293.69998,271.42500,0.017018,0.010018,0.000741
2021-05-18,25.0,90.0,302.57050,308.68573,294.52307,99532.5,100577.5,0.000000e+00,0.000000,1.503035,...,5880.50,55.75,61.25,25.75,302.67500,293.40000,271.42500,0.014200,0.010730,0.001710
2021-05-18,25.0,92.5,299.22420,304.34050,293.37045,95842.5,100600.0,3.125952e-07,0.027008,1.203983,...,5875.50,73.00,73.25,29.50,302.07500,292.85000,271.82498,0.017968,0.012380,0.002016
2021-05-18,22.5,90.0,304.57257,308.65780,300.62506,101032.5,100587.5,0.000000e+00,0.000000,2.074927,...,5901.25,67.00,51.50,18.00,303.67500,295.32498,271.39996,0.017853,0.010183,0.001202
2021-05-18,22.5,92.5,301.52927,307.81260,294.18762,95335.0,100677.5,0.000000e+00,0.000000,2.106170,...,5899.00,71.50,52.25,24.25,303.57500,294.87500,271.75000,0.018682,0.010045,0.001659
2021-05-19,25.0,90.0,302.05792,308.58588,296.56130,99387.5,100435.0,0.000000e+00,0.000000,2.018702,...,5872.50,52.25,55.75,6.25,303.50000,294.02500,271.50000,0.013905,0.010145,0.000425
2021-05-19,25.0,92.5,299.53150,305.19055,294.67050,95660.0,100412.5,0.000000e+00,0.000000,1.716375,...,5870.50,66.75,64.25,16.50,302.90000,293.75000,271.90000,0.017125,0.011462,0.001151
2021-05-19,22.5,90.0,304.55685,308.26400,300.70618,100967.5,100530.0,0.000000e+00,0.000000,2.106268,...,5888.25,65.00,49.00,5.25,304.22500,295.52500,271.69998,0.017940,0.009808,0.000359
2021-05-19,22.5,92.5,301.83813,308.23560,295.02310,95240.0,100575.0,0.000000e+00,0.000000,2.709366,...,5889.25,64.75,49.00,8.75,304.07500,295.37497,271.84998,0.017427,0.009730,0.000603
2021-05-20,25.0,90.0,301.84540,308.66083,295.18588,99472.5,100515.0,0.000000e+00,0.000000,1.415744,...,5873.25,51.75,60.75,16.00,302.84998,293.22500,270.62500,0.013402,0.010535,0.001014
2021-05-20,25.0,92.5,299.31370,305.94064,292.89496,95755.0,100510.0,0.000000e+00,0.000000,1.408117,...,5873.75,64.75,58.00,16.50,301.87500,293.12500,270.77500,0.015668,0.010005,0.001049
2021-05-20,22.5,90.0,304.54430,308.39526,301.11860,100997.5,100560.0,3.952068e-06,0.341459,1.420207,...,5890.50,64.25,44.25,13.00,303.94998,294.72500,271.44998,0.017532,0.008403,0.000872
2021-05-20,22.5,92.5,301.81625,308.48358,295.76460,95295.0,100637.5,0.000000e+00,0.000000,2.425959,...,5891.25,67.00,48.75,11.50,303.62500,294.92500,271.25000,0.017532,0.009407,0.000760
2021-05-21,25.0,90.0,301.83932,306.81060,295.24854,99470.0,100515.0,5.268702e-05,4.552159,1.546699,...,5864.00,66.25,79.00,34.75,302.82500,293.40000,270.52500,0.017270,0.013815,0.002170
2021-05-21,25.0,92.5,299.86594,304.84045,293.14087,95752.5,100512.5,3.709437e-05,3.204954,1.859180,...,5868.75,68.50,75.00,31.50,302.55000,293.37497,270.57498,0.017408,0.013142,0.001971
2021-05-21,22.5,90.0,304.23642,308.12006,300.48114,100950.0,100510.0,2.366443e-05,2.044606,1.918805,...,5879.50,68.00,52.50,30.50,303.25000,293.89996,270.77500,0.017882,0.009437,0.001940
2021-05-21,22.5,92.5,301.89542,308.45636,294.87317,95237.5,100577.5,2.605698e-07,0.022513,2.310988,...,5883.50,66.75,53.50,19.75,303.92500,294.47498,270.84998,0.017753,0.010010,0.001266
2021-05-22,25.0,90.0,298.28950,302.12366,292.86130,99417.5,100470.0,1.058028e-04,9.141362,0.912519,...,5857.25,86.50,66.75,28.25,301.90002,293.07498,271.12500,0.021555,0.011400,0.001840
2021-05-22,25.0,92.5,297.83987,302.38217,292.62870,95615.0,100377.5,7.773201e-05,6.716046,1.081082,...,5861.00,82.50,72.50,31.50,302.50000,293.67500,271.45000,0.021045,0.012860,0.002099
2021-05-22,22.5,90.0,302.79825,305.40030,299.20560,100790.0,100347.5,1.094393e-05,0.945556,-0.043511,...,5865.50,70.75,56.50,18.00,302.22500,292.80000,271.05000,0.017650,0.009508,0.001150
2021-05-22,22.5,92.5,300.81600,306.88937,294.62280,95055.0,100400.0,0.000000e+00,0.000000,1.375590,...,5870.50,66.50,60.50,14.50,303.07500,293.19998,271.10000,0.017070,0.010438,0.000941
2021-05-23,25.0,90.0,301.15802,307.76070,293.86160,99360.0,100412.5,4.688928e-07,0.040512,0.647004,...,5864.00,66.75,62.25,16.00,303.32500,293.12500,271.34998,0.017750,0.010703,0.001063
2021-05-23,25.0,92.5,300.23376,306.68674,292.81198,95607.5,100352.5,2.232005e-05,1.928452,0.197837,...,5868.50,70.75,70.25,20.50,303.22498,293.82498,271.50000,0.018695,0.012632,0.001373
2021-05-23,22.5,90.0,304.36438,307.85782,300.23657,100690.0,100247.5,1.460547e-05,1.261913,-1.888497,...,5859.75,61.75,69.25,25.25,303.72500,293.05000,271.59998,0.016788,0.011845,0.001715
2021-05-23,22.5,92.5,301.77878,309.44160,295.55386,94987.5,100325.0,3.301008e-05,2.852071,-0.572641,...,5864.75,70.25,77.75,33.50,303.07500,293.05000,271.50000,0.018423,0.013295,0.002257
2021-05-24,25.0,90.0,300.91120,308.66083,294.59880,99265.0,100315.0,3.954329e-05,3.416541,-0.290287,...,5856.00,71.00,57.50,41.50,302.99997,293.62500,271.37500,0.018472,0.010197,0.002766
2021-05-24,25.0,92.5,298.49950,303.60703,294.47455,95605.0,100360.0,2.144285e-04,18.526620,-0.599975,...,5862.00,92.50,69.75,44.25,301.80000,293.70000,271.05000,0.022838,0.012393,0.002881
2021-05-24,22.5,90.0,303.55826,307.70795,300.04337,100597.5,100150.0,1.091115e-04,9.427230,-5.781641,...,5836.00,76.75,83.00,48.25,303.02496,293.00000,272.12500,0.020170,0.014127,0.003391
2021-05-24,22.5,92.5,299.26016,304.34885,296.16245,94990.0,100345.0,1.811079e-04,15.647723,-2.877018,...,5847.25,91.50,89.00,43.00,301.30000,292.52500,272.22498,0.021837,0.014695,0.003031